/* external link */
a:link {
    text-decoration: none;
}
/********************************************************************************/

/* INDEX - Education */
div.education-custom-card-header {
    background: #106d17; // Dark-green
}

span.education-custom-card-header {
    font-size: 20px;
}

span.education-custom-card-sub-header {
    font-size: 17px;
    color: white;
}

div.education-custom-card-body {
    background: #7ede85; // Light-green
}
/******************************************************************************/

/* INDEX Work experiences */
div.workexperiences-custom-card-header {
    background: #2c73bf; // Dark-blue
}

span.workexperiences-custom-card-header {
    font-size: 20px;
}

span.workexperiences-custom-card-sub-header {
    font-size: 15px;
    color: white;
}

div.workexperiences-custom-card-body {
    background: #94bfee; // Light-blue
}
/******************************************************************************/

/* PUBLICATIONS */
span.publications-number {
    font-size: 19px;
}
span.publications-author {}
span.publications-title {}
span.publications.conference {}
/******************************************************************************/

/* PROJECTS */
span.projects-number {
    font-size: 19px;
}
span.projects-author {}
span.projects-title {}
span.projects.conference {}
/******************************************************************************/


/* FOOTER */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
