/* external link */
a:link {
    text-decoration: none;
}
/********************************************************************************/

/* INDEX - Education */
div.education-custom-card-header {
    background: #106d17; // Dark-green
}

span.education-custom-card-header {
    font-size: 20px;
}

span.education-custom-card-sub-header {
    font-size: 17px;
    color: white;
}

div.education-custom-card-body {
    background: #7ede85; // Light-green
}
/******************************************************************************/

/* INDEX Work experiences */
div.workexperiences-custom-card-header {
    background: #2c73bf; // Dark-blue
}

span.workexperiences-custom-card-header {
    font-size: 20px;
}

span.workexperiences-custom-card-sub-header {
    font-size: 15px;
    color: white;
}

div.workexperiences-custom-card-body {
    background: #94bfee; // Light-blue
}
/******************************************************************************/

/* PUBLICATIONS */
span.publications-number {
    font-size: 19px;
}
span.publications-author {}
span.publications-title {}
span.publications.conference {}
/******************************************************************************/

/* PROJECTS */
span.projects-number {
    font-size: 19px;
}
span.projects-author {}
span.projects-title {}
span.projects.conference {}
/******************************************************************************/
